body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.calculator {
  text-align: center;
  margin: 25px;
  display: inline-block;
}

.centered {
  position: fixed;
  /* top: 50%; */
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, 0%);
}

.calculator .btn{
  height: 35px;
  width: 35px;
  padding: 0px;
}

.buttons {
  overflow: hidden;
  display: inline-block;
}

.buttons .btn {
  border-color: black;
}

.numberButtons {
  float: left;
  margin-right: 5px;
}

.operatorButtons {
  float: left;
}

.result-bar {
  text-align: center;
  width: 100%;
  margin: auto;
  margin-bottom: 15px;
}

.result-bar input{
  text-align: right;
}
